.readyToStart {
	padding-top: 100px;
	padding-bottom: 100px;
}

.container {
	display: flex;
	justify-content: space-around;
	background: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
	padding: 52px 40px;
	align-items: center;
}

.colums {
	flex: 0 1 50%;
}

.content {}

.title {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 32px;
	line-height: 1.4;
}

.title:not(:last-child) {
	margin-bottom: 16px;
}

.text {
	font-size: 16px;
	line-height: 1.5;
}

.buttons {
	display: flex;
	justify-content: space-between;
	column-gap: 32px;
}

@media (max-width: 991.98px) {
	.readyToStart {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

@media (max-width: 767.98px) {
	.readyToStart {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.container {
		flex-direction: column;
		row-gap: 32px;
		padding: 35px 40px;
	}
}

@media (max-width: 425px) {
	.container {
		padding: 35px 20px;
	}
}

@media (max-width: 375px) {
	.container {
		row-gap: 20px;
	}

	.buttons {
		gap: 10px;
	}
}