.button {
	display: inline-block;
	text-align: center;

	max-height: 54px;
	padding: 16px 30px;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.57;
	color: #fff;

	background-color: #3D96F4;
	border-radius: 50px;
	transition: background-color 0.3s ease 0s;

	flex: 0 0 auto;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	z-index: 5;
}

.button:hover {
	background-color: #7eb8f5;
}

/*.dark {
	background-color: rgba(129, 129, 139, 0.2);
}*/

@media (max-width: 991.98px) {
	.button {
		padding: 14px 20px;
	}
}

@media (max-width: 560.98px) {
	.button {
		padding: 14px 15px;
		letter-spacing: 1px;
	}
}