.header {
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #0D0D11;
	opacity: 90%;
	z-index: 11;
}

.container {
	/*background-color: blueviolet;*/
	display: flex;
	column-gap: 35px;
	align-items: center;
	padding: 15px;
}

.logo {
	position: relative;
	z-index: 5;
}



@media (max-width: 991.98px) {
	.container {
		column-gap: 25px;
	}
}

@media (max-width:768px) {
	.container {
		column-gap: 15px;
	}
}

@media (max-width:449.98px) {
	.logo {
		width: 32px;
		overflow: hidden;
		flex: 0 0 32px;
	}
}