/*@import url();*/

.cart {
	color: #fff;
	display: flex;
	column-gap: 5px;
	align-items: center;
	position: relative;
	z-index: 5;
}

.cart:hover .cartText {
	text-decoration: underline;
	color: #3D96F4;

}

.cartText {
	transition: color 0.5s ease 0s;
	font-size: 18px;
	line-height: 1.55;
	line-height: 155.555556%;
}

.cartQuantity {
	background: rgba(129, 129, 139, 0.3);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 14px;
}

@media (max-width: 560px) {
	.cartText {
		display: none;
	}

	.cartQuantity {
		width: 45px;
		height: 45px;
		padding-top: 10px;
		border-radius: 0%;
		background: url('./../../../images/icons/shopping-cart-svgrepo-com.svg') center / auto 100% no-repeat;
	}
}