.content {
	flex: 0 1 50%;
	align-self: center;
	display: flex;
	flex-direction: column;
	row-gap: 32px;
}


.title {
	font-weight: 500;
	font-size: 51px;
	line-height: 1.19;
	/* 61/51 */
	color: #FFFFFF;
	max-width: 520px;
	position: relative;
}

.title:not(:last-child) {
	margin-bottom: 28px;
}

.title::before {
	content: '';
	background: url('./../images/icons/decor.svg') 0 0 / 100% no-repeat;
	width: 122px;
	height: 122px;
	position: absolute;
	top: -10px;
	left: -34px;
}

.text {
	font-size: 18px;
	line-height: 1.5;
	/* 27/18 */
	max-width: 500px;
}

.text:not(:last-child) {
	margin-bottom: 33px;
}

.actions {
	display: flex;
	gap: 32px;
}