@import url('./style_null.css');


/*--------------------*/

body {
	font-family: 'Poppins';
	font-weight: 300;
	color: #9C9C9C;
	background: #0D0D11;
}

[class*='container'] {
	min-width: 300px;
	/*max-width: 1310px;*/
	max-width: 800px;
	margin: 0 auto;
	padding: 0 15px;
}

#root {
	height: 100%;
}