@import url('./style_null.css');

body {
	font-family: 'Poppins';
	font-weight: 300;
	background-color: #9C9C9C;

}

#root {
	height: 100%;
}

[class*='container'] {
	margin: 0 auto;
	/*max-width: 1310px;*/
	max-width: 1000px;
	padding: 0 15px;
}



/*@import url('./style_null.css');*/


/*--------------------*/

/*body {
	font-family: 'Poppins';
	font-weight: 300;
	color: #9C9C9C;
	background: #0D0D11;
}*/

/*[class*='container'] {
	min-width: 500px;
	max-width: 1310px;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 15px;
}

#root {
	height: 100%;
}*/