.advantagesPage {}

.container {
	display: flex;
	align-items: center;
	gap: 32px;
}

.content {
	flex: 0 1 auto;
	display: grid;
	gap: 32px;
	grid-template-columns: 1fr 1fr;
}

.image {
	flex: 0 1 40%;
	overflow: hidden;
	border-radius: 0 70% 59% 59% / 0 60% 51% 51%;
}

.image img {
	max-width: 100%;
}

.contentItem {
	background: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
	max-width: 360px;
}

.contentItem_container {
	padding: 40px;
}

.title {
	color: #FFFFFF;
	font-weight: 500;
	font-size: 51px;
	line-height: 1.19;
}

.title:not(:last-child) {
	margin-bottom: 32px;
}

.text {
	color: #9C9C9C;
	font-size: 18px;
	line-height: 1.5;
}

@media (max-width: 425px) {
	.container {
		flex-direction: column;
	}
}