.footer {
	padding-top: 100px;
}

.mainFooter {
	display: flex;
	flex-direction: column;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 64px;
}

.title {
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.20;
}

.pagesColumnItem {

	color: yellow;
}

.pagesColumnLinksItem {
	color: green;
}

.utilityColumnListItem {
	color: orange;
}