.footer {
	padding: 10px 0;
}

.container {}

.title {
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.20;
}

.pagesColumnItem {

	color: yellow;
}

.pagesColumnLinksItem {
	color: green;
}

.utilityColumnListItem {
	color: orange;
}