.listItem {}

.isActive {
	color: #3D96F4;
	font-size: 16px;
	line-height: 1.62;
	font-weight: 500;
}

.listLink {
	display: block;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 1.62;
}

.listLink:hover {
	text-decoration: underline;
	color: #3D96F4;
	transition: color 0.5s ease 0s;
}

@media (max-width: 767.98px) {
	.listLink {
		font-size: 32px;
	}
}